body {
  color: #fff;
  background: #162c46;
}

/* common styles for all the buttons within the page */
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

/* common styles for all the inputbox inside the page */
input {
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 15px;
  font-weight: bold;
  height: 30px;
  border-radius: 0px;
  background: transparent;
  color: #ccc;
}

/* removing border from inputbox */
input:focus {
  outline: none;
  color: #ccc;
}

/* for the form Container of album and image */
.formContainer {
  text-align: center;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  background: #203f65;
  padding: 12px;
}

/* lightbox styles */

/* black background */
.lightbox-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* container */
.lightbox-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

/* close button of lightbox to hide image */
.close-button {
  position: absolute;
  top: -40px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  left:92%;
}

/* image inside the lightbox */
.lightbox-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  width: 800px;
  height: 650px;
}

.formContainer h2 {
  margin-top: 5px;
}
